
header{
    width: 100%;
    background-image: url(/css/01.png);
    opacity: 0.9;
}
.phone{
    color: white;
    padding-left: 300px;
    overflow: auto;
    padding-top: 100px;
}
#quote{
    border: 2px solid black;
    border-radius: 20px;
    float: right;
    text-transform: uppercase;
    height: auto;
    text-align: center;
    margin-right: 200px;
    width: 150px;
    height: 30px;
    color: white;
    padding-top: 10px;
    background-color: #7789f2;
}
#quote:hover{
    background-color:inherit;
    color: white;
}
.yammoe{
    color: white;
    font-size: large;
    float: left;
}
.yamm{
    padding-left: 300px;
}
.oe{
    font-size: 30px;
}
ul {
    list-style-type: none;
    font-variant: small-caps;
    font-size: 20px;
    padding-right: 100px;
  }
  li {
    float: right;
    clear: left;
  }
  li a {
    display: block;
    color:white;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  li a, .btn {
    display: inline-flex;
    color:white;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  li a:hover , .drop:hover .btn{
    color: white;
  }
  .drop-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 100px;
    box-shadow: 5px 8px 10px 0px black;
   }
   .drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .drop-content a:hover {
  background-color: gray;
  color:white;
  }
  
  .drop:hover .drop-content {
    display: block;
  }
  li a, .bts {
    display: inline-flex;
    color:white;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  li a:hover , .drops:hover .bts{
    color: white;
  }
  .drops-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 100px;
    box-shadow: 5px 8px 10px 0px black;
   }
   .drops-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:inline-block;
    text-align: left;
  }
  
  .drops-content a:hover{
  background-color: gray;
  color:white;
  }
  
  .drops:hover .drops-content{
    display: block;
  }
  .hr{
    width:90%;
    margin-left:150px;
}
#para{
    text-align: center;
    margin-top: 200px;
    color: white;
    line-height: 30px;
    padding-bottom: 200px;
}
#one{
    border: 2px solid black;
    border-radius: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 40px;
    background-color: #7789f2;
}
#one:hover{
    background-color: inherit;
    color: white;
}
#two{
    border: 2px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#two:hover{
background-color: #7789f2;
}
.new{
  width: 100%;
  height: 700px;
}
.fruit{
  font-size: 40px;
  padding-top: 38px;
  padding-left: 21%;
  color: rgb(85, 83, 83);
  margin: 0%;
}
.fruit1{
  border: 0px solid gray;
  width: 250px;
  height: 350px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgb(192, 192, 192);
}
.first{
  padding-top: 50px;
  padding-left: 400px;
  padding-bottom: 50px;
}
.second{
  display: inline-flex;
}
.fruit2{
  text-align: center;
  margin: 13px;
}
.fruit3{
  background-color: #7789f2;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: 17px;
  margin-left: 30px;
  color: white;  
}
.fa-car{
  padding-left: 7px;
  padding-top: 10px;
}
.color{
  background-image:url(./01.png);
  opacity: 0.9;
  width: 100%;
  height:800px; 
}
.pink{
  background-color:white;
  max-width: 60%;
  height: 600px;
  margin: auto;
  display: block;
  margin-top: 20px;
  border-radius: 20px 0px;
}
.turpos{
  text-align: center;
  margin-top:30px;
}
.color1{
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
.fa{
  margin-left: 11px;
  margin-top: 10px;
}
.color2{
  display:flex;
  margin-top: 30px;
  margin-left: 30px;
}
.color3{
  display:flex;
  margin-top: 30px;
  margin-left: 30px;
}
.cir{
  background-color: #e7e9f7;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
}
.circle{
  display: inline-flex;
}
.image{   
  border: 2px solid black;
  background-image: url(./01.png);
  width:450px;
  height: 300px;
  padding: 15px;
  margin-left: 50px;
  margin-top: 50px;
  outline-width: 1px;  
  outline-style: solid;  
  outline-color: rgb(192, 192, 192);  
  outline-offset: 10px;
}
.text1{
  padding-top: 230px;
}
.cir:hover{
  background-color: #7789f2;
}
.fruit3:hover{
  background-color: inherit;
  color: black;
  border: 1px solid black;
}
.image:hover .text{
      text-align: center;
      font-size: 60px;
      color: white;
      margin-top: 120px;
}
.image:hover{
  opacity: 0.8;
}
.king1{
  padding-left: 350px;
}
  .king{
    display:inline-flex;
  }
  .king2{
    display: inline-flex;
  }
  .ligula{
    padding-left: 25px;
    font-size: 24px;
    width: 250px;
  }
  .read{
    width:200px;
    margin-left: 50px;
    font-size: 16px;
    padding:20px 0px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #7789f2;
    border:1 px solid #7789f2;
  }
  .read1{
    width:200px;
    margin-left: 50px;
    font-size: 16px;
    padding:20px 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #7789f2;
    border:1 px solid #7789f2;
  }
  .read1:hover{
    background-color: inherit;
  }
  .read2{
    width:200px;
    margin-left: 70px;
    font-size: 16px;
    padding:20px 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #7789f2;
    border:1 px solid #7789f2;
  }
  .read2:hover{
    background-color: inherit;
  }
  .read3{
    width:200px;
    margin-left: 70px;
    font-size: 16px;
    padding:20px 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #7789f2;
    border:1 px solid #7789f2;
  }
  .read3:hover{
    background-color: inherit;
  }
  .read:hover{
    background-color: inherit;
  }
  .deo{
    display: inline-flex;
  }
.blue{
  background-image: url(./01.png);
  border: 0px solid gray;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  margin-top: 20px;
}
.blue:hover{
  opacity: 0.8;
}
.blue1{
  border: 1px solid rgb(190, 190, 190); 
  color: rgb(77, 77, 77);
  box-shadow: 0 0 2px rgb(192, 192, 192);
  height:70px;
  text-align: center;
  margin-top: 250px;
}
.hello{
  width: 100%;
  height: 700px;
}
.hello1{
  width: 100%;
  height: 600px;
}
.green{
  background-image: url(./01.png);
  width: 100%;
  height: 500px;
}
.zoom{
  margin-left:150px;
  border-radius: 50%;
  margin-top: 100px;
  opacity: 1;
}
.green1{
      padding-top: 40px;
    color: white;
    text-align: center;
}
.green2{
    color: white;
    margin-left: 10px;
    margin-top: 130px;
}
.green5{
  color: white;
  margin-left:10px;
  margin-top: 130px;
}
.think{
  display: inline-flex;
  margin-left: 300px;
}
.think1{
 display: inline-flex;
 margin-left: 10px;
}
.green3{
  border: 2px solid white;
  background-color: white;
  width: 500px;
  margin-top: 50px;
  margin-left: 350px;
  color: rgb(63, 63, 63);
  text-align: center;
  padding: 5px 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.green4{
  border: 2px solid white;
  background-color: white;
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
  color: rgb(63, 63, 63);
  text-align: center;
  padding: 5px 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.queen{
  display: inline-flex;
}
.t12{
    background-image: url(./01.png);
    width: 100%;
    height: 700px;
    margin-top:100px;
    opacity: 0.9;
}
.a11{
    margin-top: 100px;
    display: inline-flex;
    padding-left: 200px;
    padding-top: 50px;
}
.a12{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.a13{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.a14{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.a15{
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 10px;
}
.b10{
    display: flex;
    color: white;
}
.fas{
    position: relative;
    top: 9px;
}
.b11{
    background-color: rgb(161, 158, 158);
    height: 40px;
    width: 40px;
    margin: 5px;
    text-align: center;
    color: white;
}
.b11:hover{
  background-color: #7789f2;
}
.swathi{
    width: 100%;
}
.nav{
    display: grid;
    grid-template-columns: repeat(3,50px);
    grid-gap: 5px;
}
input{
  padding: 15px;
  border: 0px solid rgba(128, 128, 128, 0.3);
  border-radius: 14px;
  width: 300px;
  background: rgba(128, 128, 128, 0.3);
  display: flex;
}
.e11{
    background-color: #7789f2;
    border: 2px solid #7789f2;
    border-radius: 15px;
    padding: 13px 25px;
    font-size: 15px;
    color: white;
    left: 16px;
    margin-left: 5px;
}
.e11:hover{
  color: black;
  background-color:inherit;
}
.z11{
  color: #7789f2;
  text-decoration: none;
}