
header{
    width: 100%;
    background-image: url(/css/01.png);
    opacity: 0.9;
}

.phone{
    color: white;
    padding-left: 300px;
    overflow: auto;
    padding-top: 100px;
}
#quote{
    border: 2px solid black;
    border-radius: 20px;
    float: right;
    text-transform: uppercase;
    height: auto;
    text-align: center;
    margin-right: 200px;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    background-color: #7789f2;
}
#quote:hover{
    background-color:inherit;
    color: white;
}
.yammoe{
    color: white;
    font-size: large;
    float: left;
}
.yamm{
    padding-left: 300px;
}
.oe{
    font-size: 30px;
}
ul {
    list-style-type: none;
    font-variant: small-caps;
    font-size: 20px;
    overflow: auto;
    padding-right: 100px;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color:white;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  li a, .btn {
    display: inline-block;
    color:white;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  li a:hover , .drop:hover .btn{
    color: white;
  }
  .drop-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 100px;
    box-shadow: 5px 8px 10px 0px black;
   }
   .drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .drop-content a:hover {
  background-color: gray;
  color:white;
  }
  
  .drop:hover .drop-content {
    display: block;
  }
  li a, .bts {
    display: inline-block;
    color:white;
   font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  li a:hover , .drops:hover .bts{
    color: white;
  }
  .drops-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 100px;
    box-shadow: 5px 8px 10px 0px black;
   }
   .drops-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .drops-content a:hover {
  background-color: gray;
  color:white;
  }
  
  .drops:hover .drops-content {
    display: block;
  }
  .hr{
    width:90%;
    margin-left:150px;
}
#para{
    text-align: center;
    margin-top: 200px;
    color: white;
    line-height: 30px;
    padding-bottom: 200px;
}
#one{
    border: 2px solid black;
    border-radius: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 40px;
    background-color: #7789f2;
}
#one:hover{
    background-color: inherit;
    color: white;
}
#two{
    border: 2px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#two:hover{
background-color: #7789f2;
}
.fruit{
  font-size: 40px;
  padding-top: 38px;
  padding-left: 21%;
  color: rgb(85, 83, 83);
  margin: 0%;
}
.fruit1{
  position: relative;
  top: 60px;
  left: 20%;
  border: 0px solid gray;
  width: 250px;
  height: 350px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0 0 5px rgb(192, 192, 192);
}
.first{
  padding-bottom: 100px;
}

.fruit2{
  text-align: center;
  position: relative;
  top: 1px;
  margin: 13px;
}
.fruit3{
  position: absolute;
  top: 280px; 
  left: 40px;
  background-color: #7789f2;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px 30px;
  font-size: 17px;
  color: white;  
}
.color{
  background-image:url(./01.png);
  opacity: 0.9;
  width: 100%;
  height:600px;
}
.pink{
  border: 2px solid white;
  background-color: white;
  position: absolute;
  top: 165%;
  left: 19%;
  padding: 15% 32%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.pink1{
  color: rgb(56, 54, 54);
  position: absolute;
  top: 40px;
  left: 44%;
  font-size: 12px;
}
.pink2{
  color: rgb(90, 90, 90);
  font-size: 23px;
  text-transform: capitalize;
  position: absolute;
  top: 50px;
  left: 37%;
}
.cir{
  background-color: #e7e9f7;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 35%;
  left: 60px;
}
.cir1{
  background-color: #e7e9f7;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 54%;
  left: 60px;
}
.cir2{
  background-color: #e7e9f7;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 73%;
  left: 60px;
}
.pink3{
  font-size: 18px; 
  margin: 0%; 
  color: rgb(58, 58, 58);
  position: absolute;
  left: 140px;
  top: 190px;
  text-transform: capitalize;
}
.pink4{
  color: rgb(58, 58, 58);
  position: absolute;
  left: 140px;
  top: 210px;
  width: 37%;
}
.pink5{
  font-size: 18px; 
  margin: 0%; 
  color: rgb(58, 58, 58);
  position: absolute;
  left: 140px;
  top: 53%;
  text-transform: capitalize;
}
.pink6{
  color: rgb(58, 58, 58);
  position: absolute;
  left: 140px;
  top: 56%;
  width: 35%;
}
.pink7{
  font-size: 18px; 
  margin: 0%; 
  color: rgb(58, 58, 58);
  position: absolute;
  left: 140px;
  top: 73%;
  text-transform: capitalize;
}
.pink8{
  color: rgb(58, 58, 58);
  position: absolute;
  left: 140px;
  top: 76%;
  width: 35%;
}
.image{    
  border: 2px solid black;
  background-image: url(./01.png);
  width: 450px;
  height: 300px;
  position: absolute;
  right: 6%;
  bottom: 60px;
  outline-width: 1px;  
  outline-style: solid;  
  outline-color: rgb(192, 192, 192);  
  outline-offset: 10px;
}
.image:hover .text{
      text-align: center;
      font-size: 60px;
      color: white;
      margin-top: 120px;
}
.image:hover{
  opacity: 0.8;
}
.king{
  display: inline-flex;
  text-align: center;
}
.blue{
  background-image: url(./01.png);
  position: relative;
  top: 60px;
  left: 20%;
  border: 0px solid gray;
  width: 250px;
  height: 250px;
  margin: 20px;

}
.blue:hover{
  opacity: 0.8;
}
.blue:hover .text{
  text-align: center;
  font-size: 60px;
  color: white;
  margin-top: 100px;
}
.blue1{
  text-align: center;
  position: absolute;
  left:14.15%;
  top: 275%;
  width:249px;
  padding-top: 20px;
  height: 60px;
  border: 1px solid rgb(190, 190, 190); 
  color: rgb(77, 77, 77);
  box-shadow: 0 0 2px rgb(192, 192, 192);
}
.blue2{
  text-align: center;
  position: absolute;
  left: 30%;
  top: 275%;
  width:249px;
  padding-top: 20px;
  height: 60px;
  border: 1px solid rgb(190, 190, 190); 
  color: rgb(77, 77, 77);
  box-shadow: 0 0 2px rgb(192, 192, 192);
}
.blue3{
  text-align: center;
  position: absolute;
  left: 45.8%;
  top: 275%;
  width:249px;
  padding-top: 20px;
  height: 60px;
  border: 1px solid rgb(190, 190, 190); 
  color: rgb(77, 77, 77);
  box-shadow: 0 0 2px rgb(192, 192, 192);
}
.blue4{
  text-align: center;
  position: absolute;
  left: 61.6%;
  top: 275%;
  width:249px;
  padding-top: 20px;
  height: 60px;
  border: 1px solid rgb(206, 206, 206); 
  color: rgb(77, 77, 77);
  box-shadow: 0 0 2px rgb(192, 192, 192);
}
.hello{
  width: 100%;
  height: 700px;
}
.green{
  background-image: url(./01.png);
  opacity: 0.9;
  width: 100%;
  height: 500px;
}
.green1{
      padding-top: 30px;
    color: white;
    text-align: center;
}
.zoom{
    background-image: url(./01.png);
    opacity: 1;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    zoom: 150%;
    position: absolute;
    top: 312%;
    left: 23%;
}
.green2{
    color: white;
    position: absolute;
    top: 315%;
    left: 30%;
}
.zoom1{
    background-image: url(./01.png);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    zoom: 150%;
    opacity: 1;
    position: absolute;
    top: 312%;
    right: 36%;
}
.green3{
    color: white;
    position: absolute;
    top: 315%;
    right: 26%;
}
.green4{
    border: 2px solid white;
    background-color: white;
    position: absolute;
    color: rgb(63, 63, 63);
    top: 326%;
    left: 19%;
    width: 28%;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.green5{
    border: 2px solid white;
    background-color: white;
    position: absolute;
    color: rgb(63, 63, 63);
    top: 326%;
    right: 19%;
    width: 28%;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.t12{
    background-image: url(./01.png);
    width: 100%;
    height: 700px;
    margin-top:100px;
    opacity: 0.9;
}
.a11{
    margin-top: 100px;
    display: inline-flex;
    padding-left: 200px;
    padding-top: 50px;
}
.a12{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.a13{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.a14{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.a15{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.b10{
    display: flex;
    color: white;
}
.fas{
    position: relative;
    top: 9px;
}
.b11{
    background-color: rgb(161, 158, 158);
    height: 40px;
    width: 40px;
    margin: 5px;
    text-align: center;
    color: white;
}
.b11:hover{
  background-color: #7789f2;
}
.swathi{
    width: 100%;
}
.nav{
    display: grid;
    grid-template-columns: repeat(3,50px);
    grid-gap: 5px;
}
input{
  padding: 15px;
  border: 0px solid rgba(128, 128, 128, 0.3);
  border-radius: 14px;
  width: 300px;
  background: rgba(128, 128, 128, 0.3);
  display: flex;
}
.e11{
    background-color: #7789f2;
    border: 2px solid #7789f2;
    border-radius: 15px;
    padding: 13px 25px;
    font-size: 15px;
    color: white;
    left: 16px;
    margin-left: 5px;
}
.e11:hover{
  color: black;
  background-color:inherit;
}
.z11{
  color: #7789f2;
}