* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  color: rgb(36, 34, 34);
}

.container {
  width: 980px;
  margin: 0 auto;
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 30px;
}

.link {
  color: white;
  background-color: green;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 17px 10px;
}
.links {
  color: white;
  background-color: rgb(24, 82, 24);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 10px;
  font-size: 12px;
}
img {
  width: 100%;
}
.image1 {
  width: 300px;
  height: 200px;
}
.image2 {
  width: 400px;
  height: 250px;
}
.icons {
  color: aqua;
  width: 32px;
  height: auto;
  margin-bottom: 16px;
  margin-left: 60px;
}
h1 {
  margin-bottom: 24px;
  line-height: 1.3;
}

header {
  margin-bottom: 48px;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

/* section------1 */
h2 {
  margin-bottom: 38px;
  font-family: sans-serif;
}

.section1-grid-cols3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}

.science {
  margin-bottom: 20px;
}

.section1-text {
  margin-bottom: 80px;
}

/* section-------2 */
.section2-grid-cols2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  background-color: green;
  color: white;
  padding: 20px;
}

.section2-h2 {
  margin-top: 40px;
}

.section2-author {
  margin-top: 30px;
}
/* section3 */
.head {
  margin-top: 50px;
}
.section3-head {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.section3-subhead p {
  line-height: 3;
}
.clear {
  display: flex;
  justify-content: space-between;
}
footer {
  margin-top: 50px;
}
