<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Rubik:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./boost.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header">
        <p class="header-para">sample header text</p>
      </div>
      <div class="flex">
        <img src="/unnamed (1).png" alt="header-logo" class="logo" />
        <div class="flex-search">
          <input id="write" type="text" placeholder="search" name="full-name" />
          <ion-icon name="search" class="search"></ion-icon>
        </div>
      </div>
      <div class="icon">
        <ion-icon name="menu" class="name"></ion-icon>
      </div>
    </header>
    <main>
      <section class="section-one">
        <h1 class="span-one">BOOST YOUR BAND WITH <br />THIS KEY FEATURES</h1>
      </section>
      <section class="section-two">
        <p>
          He an thing rapid these after going drawn.Timedshe his law the 
         <p>He an thing rapid these after going drawn timedse.</p> 
          He an thing rapid these after going drawn.
        </p>
        <img src="/unnamed (1).png" alt="header-logo" class="logos" />
      </section>
      <section class="section-three">
        <h2 class="span-two">
          WE ADVICE ORGANIZATIONS IN VALUE CREATION <br />
          STRATAGIES
        </h2>
      </section>
      <section class="section-four">
        <div class="section-div">
          <div class="bulb-div">
            <ion-icon name="bulb" class="bulb"></ion-icon>
            <h3 class="section-head">SRATAGY</h3>
            <p class="section-para">
              He an thing rapid these after going drawn.Timedshe his law the He
              an thing rapid these after.
            </p>
            <a href="#" class="ancor-tag">MORE</a>
          </div>
          <div class="flag-div">
            <ion-icon name="flag" class="bulb"></ion-icon>
            <h3 class="section-head">RESULTS</h3>
            <p class="section-para">
              He an thing rapid these after going drawn.Timedshe his law the He
              an thing rapid these after.
            </p>
            <a href="#" class="ancor-tag">MORE</a>
          </div>
          <div class="desk-div">
            <ion-icon name="desktop" class="bulb"></ion-icon>
            <h3 class="section-head">EXPERTISE</h3>
            <p class="section-para">
              He an thing rapid these after going drawn.Timedshe his law the He
              an thing rapid these after.
            </p>
            <a href="#" class="ancor-tag">MORE</a>
          </div>
          <div class="cloud-div">
            <ion-icon name="cloud" class="bulb"></ion-icon>
            <h3 class="section-head">SUPPORT</h3>
            <p class="section-para">
              He an thing rapid these after going drawn.Timedshe his law the He
              an thing rapid these after.
            </p>
            <a href="#" class="ancor-tag">MORE</a>
          </div>
        </div>
      </section>
      <section class="section-five">
        <p class="section-five-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rem
          repellat, porro sequi repudiandae sed alias officiis. Cum quibusdam,
          debitis quod laborum omnis eaque ipsa autem, delectus unde illum ad!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rem
          repellat, porro sequi repudiandae sed alias officiis. Cum quibusdam,
          debitis quod laborum omnis eaque ipsa autem, delectus unde illum ad!
        </p>
        <p class="section-five-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rem
          repellat, porro sequi repudiandae sed alias officiis. Cum quibusdam,
          debitis quod laborum omnis eaque ipsa autem, delectus unde illum ad!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rem
          repellat, porro sequi repudiandae sed alias officiis. Cum quibusdam,
          debitis quod laborum omnis eaque ipsa autem, delectus unde illum ad!
        </p>
      </section>
      <section class="section-six">
        <img
          src="/pexels-photo-4545327.jpeg"
          alt="pixel-one"
          class="image-one"
        />
        <img
          src="/pexels-photo-4545328.jpeg"
          alt="pixel-two"
          class="image-one"
        />
        <img
          src="/pexels-photo-6146810.jpeg"
          alt="pixel-three"
          class="image-one"
        />
        <img
          src="/pexels-photo-6994340.jpeg"
          alt="pixel-four"
          class="image-one"
        />
      </section>
      <section class="section-seven">
        <div class="think">
          <h3 class="section-seven-head">LIFE COACHING</h3>
          <p class="section-seven-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            accusantium odit quidem fugiat odio enim, fuga corporis inventore
            ipsam est tempore provident ab
          </p>
          <p class="section-seven-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            accusantium odit quidem fugiat odio enim, fuga corporis inventore
            ipsam est tempore provident ab. Libero facere consequuntur, ad illo
            explicabo esse? ipsam est tempore provident ab. Libero ad illo
            explicabo esse?
          </p>
        </div>
        <div class="section-seven-div">
          <h3 class="heading">Benifits of coaching for individuals</h3>
          <ul class="list">
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark"></ion-icon>
              <span>Establish and act toward aching golas</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark"></ion-icon
              ><span>increased level of engagement</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark"></ion-icon>
              <span>safe place to gain persepctive</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark"></ion-icon>
              <span>deeper level of learining</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark"></ion-icon>
              <span>build personal of awareness</span>
            </li>
            <li class="list-item">
              <ion-icon class="list-icon" name="checkmark"></ion-icon>
              <span>boost your networking opetrunities</span>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <div class="block-image">
          <img src="/021.jpg" class="block-img" alt="boy-image" />
          <p class="block-para">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Architecto voluptates maxime repellendus eaque totam veritatis quos
            laboriosam. Repellat,
          </p>
          <p class="block-para">
            laudantium ? Dignissimos delectus impedit fuga voluptate pariatur
            quaerat, natus fugit facere quibusdam. "
          </p>
          <h3 class="block-head">FINN KEYY</h3>
          <p class="pink">financial director</p>
        </div>
      </section>
      <section class="start">
        <h2 class="start-head">FACTS AND QUETIONS</h2>
        <p class="start-para">sample text.click again.select double click again in the sample text</p>
        <div class="start-div">
        <span>Do you provide support ?</span> <ion-icon name="add" class="icons"></ion-icon>
      </div>
      <div class="onee">
        <p class="start-one"> laudantium Dignissimos delectus impedit fuga voluptate pariatur
          quaerat, natus fugit facere quibusdam. </p>
          <p class="start-one"> laudantiumDignissimos delectus impedit fuga voluptate pariatur
            quaerat, natus fugit facere quibusdam. </p>
          </div>
            <div class="start-divs">
              <span>do you provide text</span> <ion-icon name="add" class="iconss"></ion-icon>
            </div>
            <div class="start-divs">
              <span>do you provide text</span> <ion-icon name="add"  class="iconss"></ion-icon>
            </div>
            <div class="start-divs">
              <span>do you provide text</span> <ion-icon name="add"  class="iconss"></ion-icon>
            </div>
            <div class="start-divs">
              <span>do you provide text</span> <ion-icon name="add"  class="iconss"></ion-icon>
            </div>
      </section>
      <section>
        <div class="facts">
          <img
            src="/0cb926c2211201db0bfd05eda81916e3.png"
            alt="microsoft logo"
            width="200"
            height="80"
          />
          <img
            src="/63ba8fb238e22d52ced543c07bae7c77.png"
            alt="deilollite logo"
            width="200"
            height="80"
          />
          <img
            src="/679394204b98f1f0378d4440716d148f.png"
            alt="goggle logo"
            width="200"
            height="80"
          />
          <img
            src="/e7c6f0d4fde45a3493ccd370cd10a230.png"
            alt="yahhoo logo"
            width="200"
            height="80"
          />
          <img
            src="/ca3c956e1057b5ce2863c5f0a21c09e3.png"
            alt="BMW logo"
            width="200"
            height="80"
          />
          <img
          src="/ca3c956e1057b5ce2863c5f0a21c09e3.png"
          alt="BMW logo"
          width="200"
          height="80"
        />
        </div>
      </section>
      <section class="section-eight">
        <div class="rock-head">
          <div class="rock-one">001-678-9876</div>
          <div class="rock-one">001-678-9876</div>
          <p class="rock-para">#6-89,rock street, new york 9898989</p>
        </div>
        <div class="rock-foot">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora
          odit, quod voluptatum eligendi minus ratione voluptatibus incidunt
          eveniet, facilis culpa tenetur nihil, impedit vel consectetur
          molestias mollitia. Non, doloremque consectetur.Lorem ipsum dolor sit
          amet, consectetur adipisicing elit. Tempora odit, quod voluptatum
          eligendi minus ratione voluptatibus incidunt eveniet, facilis culpa
          tenetur nihil, impedit vel consectetur molestias mollitia. Non,
          doloremque consectetur.
        </div>
      </section>
      <section class="section-nine">
        <img src="/pexels-photo-6994340.jpeg" class="section-nine-images" />
        <img src="/pexels-photo-950754.jpeg" class="section-nine-images" />
        <img src="/pexels-photo-4545328.jpeg" class="section-nine-images" />
        <img src="/pexels-photo-6146810.jpeg" class="section-nine-images" />
        <img src="/pexels-photo-1797418.jpeg" class="section-nine-images" />
      </section>
    </main>
    <footer class="footer">
      <div class="footer-head">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem</p>
        <p>ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="footer-foot">
        <a href="#">www.software.com</a> <span>created with</span
        ><a href="#">www.builder.softwarecom</a>
      </div>
    </footer>
  </body>
</html>
