<!DOCTYPE html>
<html>
  <body>
    <!-- <h1>My First Web Page</h1>
    <p>My First Paragraph</p>

    <p id="demo"></p>

    <script>
      document.getElementById("demo").innerHTML = 5 + 6;
    </script> -->
    <p>My first paragraph.</p>
    <p id="demo"></p>
    <script>
      document.write(5 + 6);
      // document.getElementById("demo").innerHTML = 5 * 10;
      var x;
      x = 5;
      document.getElementById("demo").innerHTML = x * 10;
    </script>
    <button type="button" onclick="document.write(5 + 6)">Try it</button>
    <p id="demo"></p>
    <!-- 
    <script>
      document.getElementById("demo").innerHTML = "John" + " " + "Doe";
    </script> -->
    <!-- <script>
      document.write(5 + 6);
      </script> -->
    <script>
      window.alert(5 + 6);
    </script>
    <!-- <script>
      console.log(5 + 6);
    </script> -->
  </body>
</html>
