<!DOCTYPE html>
<html>
  <body>
    <!-- <h2>JavaScript introduction</h2>

    <p id="demo">swathi</p>
    <p id="demo1">hello</p>

    <button type="button" onclick="myFunction()">Try it</button>
    <script src="./javasript.js"></script> -->
    <!-- <script>
      function abc() {
        var x = 10; //local variable
      }
    </script> -->
    <script>
      var data = 200; //gloabal variable
      function a() {
        document.writeln(data);
      }
      function b() {
        document.writeln(data);
      }
      a(); //calling JavaScript function
      b();
    </script>
  </body>
</html>
