* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
header {
  background-image: url(/aa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9.4rem;
  padding: 0 48px;
}
.header-head {
  color: #ffff;
  text-decoration: none;
  font-size: 3rem;
}
.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.header-nav-link {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  color: #ffff;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.header-nav-link:hover {
  color: #e67e22;
}
.header-div {
  margin-left: 350px;
  margin-top: 200px;
  color: #ffff;
  margin-bottom: 100px;
}
.header-para {
  font-size: 2rem;
  margin-bottom: 20px;
}
.header-paraa {
  font-size: 4rem;
  margin-bottom: 20px;
}
.header-paragraph {
  font-size: 2rem;
  margin-bottom: 100px;
}
.heading {
  padding-bottom: 100px;
}
.section-one {
  text-align: center;
  margin-top: 80px;
  padding-top: 100px;
}
.section-head {
  font-size: 3rem;
  text-align: center;
}
.name {
  border-bottom: 2px solid red;
  margin: 10px 880px;
}
.section-head span {
  color: red;
}
.section-para {
  font-size: 1.3rem;
  margin-top: 20px;
}
.section-span {
  font-size: 1.5rem;
  line-height: 2;
}
.section-one-grid {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: center;
  margin-left: 350px;
}
.creative-para {
  line-height: 1.5;
  font-size: 2rem;
}
.creative-head {
  line-height: 1.5;
  font-size: 3rem;
}
.section-image {
  margin-top: 70px;
  margin-left: 100px;
}
.creative-head span {
  color: red;
}
.quality {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: red;
  color: white;
  padding: 30px;
}
.quality-head h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 310px;
}
.quality-head p {
  font-size: 1.4rem;
  line-height: 2.4;
  margin-left: 310px;
}
.quality-btn {
  padding: 10px;
  background-color: red;
  color: white;
  border: 1px solid white;
  margin-left: 400px;
}
h4 {
  background-color: rgb(240, 236, 236);
}
.user {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}
.king-head h2 {
  padding: 20px 0px;
  font-size: 2.2rem;
}
.king {
  background-color: red;
  margin-right: 100px;
  height: 20px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.king span {
  margin-left: 500px;
}
.king-head {
  width: 35%;
  margin-left: 300px;
}
.section-two {
  margin-top: 50px;
  text-align: center;
}
.grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin-left: 300px;
  margin-top: 100px;
  gap: 30px;
}
.desin-one {
  display: flex;
}
.design-one {
  color: red;
  height: 3rem;
  width: 8rem;
  border: 1px solid gray;
  background-color: white;
  padding: 1.6rem;
  border-radius: 50%;
  margin-top: 30px;
}
.design-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
  margin-left: 30px;
}
.design-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-left: 30px;
}
.awesome {
  background-color: rgb(247, 242, 242);
}
.feature {
  height: 3.2rem;
  width: 9rem;
  border: 1px solid gray;
  background-color: white;
  padding: 3.5rem;
  margin-top: 30px;
  margin-left: -10px;
  margin-bottom: 30px;
}
.feature-head {
  margin-left: 500px;
}
.feature:hover {
  color: red;
  background-color: whitesmoke;
  border-bottom: 2px solid red;
}
.web-design {
  display: flex;
  gap: 70px;
  width: 70%;
  margin-left: 350px;
}
.web-design-head {
  font-size: 1.6rem;
  line-height: 2;
}
.web-design-head h2 {
  font-size: 2.4rem;
}
.web-design-head span {
  color: red;
}
.services-one {
  margin-left: 670px;
  margin-top: 10px;
}
.services {
  display: inline-block;
  background-color: rgb(238, 234, 234);
  padding: 20px 30px;
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  margin-left: -10px;
}
.services:hover {
  background-color: red;
  color: white;
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: 300px;
  width: 50%;
  gap: 10px;
  padding-bottom: 100px;
}
.price-head {
  text-align: center;
  width: 15%;
  border: 1px solid whitesmoke;
  position: relative;
}
.price-head::after {
  content: "$39 per month";
  position: absolute;
  width: 100px;
  height: 50px;
  left: 90px;
  top: -40px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 50%;
  font-size: 2rem;
}
.price-start {
  padding: 40px;
  background-color: rgb(236, 236, 234);
  border-bottom: none;
  font-size: 2.3rem;
  padding-top: 100px;
}
.price-list {
  list-style: none;
  padding: 20px;
  font-size: 1.8rem;
  line-height: 2;
}
.price-item span {
  font-weight: 700;
  color: black;
}
.price-btn {
  border: 1px solid red;
  padding: 10px;
  color: red;
  background-color: white;
}
.price-header {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}
.team-head {
  line-height: 2;
  border: 1px solid whitesmoke;
  width: 16.5%;
  text-align: center;
  color: rgb(124, 121, 121);
}
.team-header {
  font-size: 2rem;
}
.team-para {
  font-size: 1.5rem;
}
.team-icon {
  height: 3rem;
  width: 4rem;
}
.again-head {
  background-image: url(/cup.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  line-height: 2.5;
  padding: 30px;
  color: white;
  position: relative;
}
.quote {
  font-size: 3rem;
  color: white;
  transform: rotate(180deg);
}
.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  bottom: 0;
  display: flex;
  gap: 12px;
}
.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid red;
}
.dot-one {
  background-color: rgb(240, 111, 111);
  border: 1px solid red;
}
.again-image {
  border-radius: 50%;
}
.again-head p {
  font-size: 1.5rem;
}
.again-head h2 {
  font-size: 2.4rem;
}
.again-head span {
  font-size: 2rem;
}
.thumb-icon {
  font-size: 3rem;
}
.pink {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.again-think span {
  font-size: 2.5rem;
  color: red;
  margin-top: 3px;
}
.again-think p {
  font-size: 2rem;
  line-height: 2;
}
.thinks {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 40px;
  background-color: rgb(235, 232, 232);
}
/* **************** */
.blog-head {
  line-height: 2;
  border: 1px solid rgb(218, 216, 216);
  width: 25.07%;
  position: relative;
  overflow: hidden;
}
.blog-head::after {
  content: "jan 10 2016";
  position: absolute;
  top: 1px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog-head h2 {
  font-size: 2rem;
}
.blog-image {
  height: 250px;
}
.blog-icons {
  font-size: 1.5rem;
}
.blog-icons span {
  margin: 0px 10px;
}
.blog-head p {
  font-size: 1.7rem;
  line-height: 1.4;
}
.blog-head div {
  font-size: 1.7rem;
  padding-top: 20px;
}
.blog-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.logos {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 70px;
}
/* ***************************88 */
.contact-head {
  line-height: 3;
  margin-top: 50px;
}
.info-head {
  font-size: 2.2rem;
}
.info-head span {
  color: red;
}
.contact-list {
  font-size: 1.6rem;
  list-style: none;
}
.contact-items span {
  margin-left: 10px;
  color: #333;
  font-weight: 700;
}
/* **************** */

.cta-form {
  display: grid;
  grid-template-columns: 350px 400px;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-top: 100px;
}
#full-name {
  padding: 10px;
}
#email {
  padding: 8px;
}
#write {
  padding-bottom: 70px;
  padding-left: 19px;
  padding-top: 10px;
}
.cta-btn {
  border: 1px solid red;
  color: red;
  padding: 10px 420px;
}
.contact-header {
  display: flex;
  justify-content: center;
  gap: 300px;
}
/* **********************8 */
.footer-head {
  margin-top: 70px;
}
.footer-head h3 {
  background-color: red;
  text-align: center;
  color: rgb(207, 204, 204);
  padding: 40px;
  font-size: 2.4rem;
}
.footer-header {
  text-align: center;
  line-height: 2;
  padding: 40px;
}
.footer-header h3 {
  font-size: 2.4rem;
}
.footer-logo {
  border: 1px solid grey;
  padding: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.footer-main {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px auto 15px auto;
}
