* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(/aa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9.4rem;
  padding: 0 48px;
}
.header-head {
  color: #ffff;
  text-decoration: none;
  font-size: 3rem;
}
.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.header-nav-link {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  color: #ffff;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.header-nav-link:hover {
  color: #e63f22;
}
.header-nav-link span {
  color: red;
}
.header-div {
  margin-left: 350px;
  margin-top: 200px;
  color: #ffff;
  margin-bottom: 100px;
}
.header-para {
  font-size: 2rem;
  margin-bottom: 20px;
}
.header-paraa {
  font-size: 5rem;
  margin-bottom: 20px;
}
.header-paragraph {
  font-size: 1.7rem;
  margin-bottom: 100px;
}
.heading {
  padding-bottom: 100px;
}
.section-one {
  text-align: center;
  padding-top: 50px;
}

.name {
  position: relative;
}
.section-head {
  font-size: 3rem;
  text-align: center;
}
.section-head:after {
  position: absolute;
  top: 36px;
  left: 47%;
  height: 2px;
  width: 110px;
  content: "";
  background-color: red;
}
.section-head span {
  color: red;
}
.section-para {
  font-size: 1.3rem;
  margin-top: 24px;
}
.section-span {
  font-size: 1.5rem;
  line-height: 2;
}
.section-one-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  padding: 0 300px;
}
.creative-para {
  line-height: 1.5;
  font-size: 1.5rem;
}
.creative-head {
  line-height: 1.5;
  font-size: 3rem;
}
.creative-head span {
  color: red;
}
.quality {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: red;
  color: white;
  padding: 30px;
}
.quality-head h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 310px;
}
.quality-head p {
  font-size: 1.4rem;
  line-height: 2.4;
  margin-left: 310px;
}
.quality-btn {
  padding: 10px;
  background-color: red;
  color: white;
  border: 1px solid white;
  margin-left: 400px;
}
.web {
  background-color: rgb(240, 236, 236);
}
.web1 {
  background-color: rgb(240, 236, 236);
}
.web2 {
  background-color: rgb(240, 236, 236);
}
.web3 {
  background-color: rgb(240, 236, 236);
}
.user {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}
.king-head h2 {
  padding: 20px 0px;
  font-size: 2.2rem;
}
.king {
  background-color: red;
  height: 20px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  width: 95%;
}
.king1 {
  background-color: red;
  height: 20px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  width: 85%;
}
.king2 {
  background-color: red;
  height: 20px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  width: 75%;
}
.king3 {
  background-color: red;
  height: 20px;
  color: white;
  font-size: 20px;
  width: 45%;
  margin-top: 10px;
}
.king span {
  padding-left: 92%;
}
.king1 span {
  padding-left: 89%;
}
.king2 span {
  padding-left: 87%;
}
.king3 span {
  padding-left: 85%;
}
.king-head {
  width: 35%;
  margin-left: 300px;
}
.section-two {
  margin-top: 10px;
  text-align: center;
}
.grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin-left: 300px;
  margin-top: 100px;
  gap: 30px;
}
.desin-one {
  display: flex;
}
.design-one {
  color: red;
  height: 42px;
  width: 100px;
  border: 1px solid gray;
  background-color: white;
  padding: 1.6rem;
  border-radius: 50%;
}
.design-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
  margin-left: 30px;
}
.design-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-left: 30px;
}
.awesome {
  background-color: rgb(247, 242, 242);
}
.feature {
  height: 3.2rem;
  width: 9rem;
  border: 1px solid gray;
  background-color: white;
  padding: 3.5rem;
  margin-top: 30px;
  margin-left: -10px;
  margin-bottom: 30px;
}
.feature-head {
  margin-left: 500px;
}
.feature:hover {
  color: red;
  background-color: whitesmoke;
  border-bottom: 2px solid red;
}
.web-design {
  display: flex;
  gap: 70px;
  width: 70%;
  margin-left: 260px;
}
.web-design-head {
  font-size: 1.6rem;
  line-height: 2;
}
.web-design-head h2 {
  font-size: 2.4rem;
}
.web-design-head span {
  color: red;
}
.tec-image {
  width: 500px;
  height: 400px;
}
.services-one {
  margin-left: 670px;
  margin-top: 10px;
}
.services {
  display: inline-block;
  background-color: rgb(238, 234, 234);
  padding: 20px 30px;
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  margin-left: -10px;
}
.services:hover {
  background-color: red;
  color: white;
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: 300px;
  width: 50%;
  gap: 10px;
  padding-bottom: 100px;
}
.price-head {
  text-align: center;
  width: 15%;
  border: 1px solid whitesmoke;
  position: relative;
}
.price-head::after {
  content: "$39 per month";
  position: absolute;
  width: 100px;
  height: 60px;
  left: 90px;
  top: -40px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 50%;
  font-size: 2rem;
}
.price-start {
  padding: 40px;
  background-color: rgb(236, 236, 234);
  border-bottom: none;
  font-size: 2.3rem;
  padding-top: 100px;
}
.price-list {
  list-style: none;
  padding: 20px;
  font-size: 1.8rem;
  line-height: 2;
}
.price-item span {
  font-weight: 700;
  color: black;
}
.price-btn {
  border: 1px solid red;
  padding: 10px;
  color: red;
  background-color: white;
}
.price-header {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}
.team-head {
  line-height: 2;
  border: 1px solid whitesmoke;
  width: 16.5%;
  text-align: center;
  color: rgb(124, 121, 121);
}
.team-header {
  font-size: 2rem;
}
.team-para {
  font-size: 1.5rem;
}
.team-icon {
  height: 3rem;
  width: 4rem;
}
.again-head {
  background-image: url(/cup.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  line-height: 2.5;
  padding: 30px;
  color: white;
  position: relative;
}
.quote {
  font-size: 3rem;
  color: white;
  transform: rotate(180deg);
}
.dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  bottom: 0;
  display: flex;
  gap: 12px;
}
.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid red;
}
.dot-one {
  background-color: rgb(240, 111, 111);
  border: 1px solid red;
}
.again-image {
  border-radius: 50%;
}
.again-head p {
  font-size: 1.5rem;
}
.again-head h2 {
  font-size: 2.4rem;
}
.again-head span {
  font-size: 2rem;
}
.thumb-icon {
  font-size: 3rem;
}
.pink {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.again-think span {
  font-size: 2.5rem;
  color: red;
  margin-top: 3px;
}
.again-think p {
  font-size: 2rem;
  line-height: 2;
}
.thinks {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 40px;
  background-color: rgb(235, 232, 232);
}
/* **************** */
.blog-head {
  line-height: 2;
  width: 25.07%;
  position: relative;
  overflow: hidden;
}
.blog-head::after {
  content: "jan 10 2016";
  position: absolute;
  top: 1px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog-head h2 {
  font-size: 2rem;
}
.blog-image {
  height: 250px;
}
.blog-icons {
  font-size: 1.5rem;
}
.blog-icons span {
  margin: 0px 10px;
}
.blog-head p {
  font-size: 1.7rem;
  line-height: 1.4;
}
.blog-head div {
  font-size: 1.7rem;
  padding-top: 20px;
}
.blog-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.logos {
  display: flex;
  justify-content: center;
  padding: 70px;
}
/* ***************************88 */
.contact-head {
  line-height: 3;
  margin-top: 50px;
}
.info-head {
  font-size: 2.2rem;
}
.info-head span {
  color: red;
}
.contact-list {
  font-size: 1.6rem;
  list-style: none;
}
.contact-items span {
  margin-left: 10px;
  color: #333;
  font-weight: 700;
}
/* **************** */

.cta-form {
  display: grid;
  grid-template-columns: 350px 400px;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-top: 100px;
}
#full-name {
  padding: 10px;
}
#email {
  padding: 8px;
}
#write {
  padding-bottom: 70px;
  padding-left: 19px;
  padding-top: 10px;
}
.cta-btn {
  border: 1px solid red;
  color: red;
  padding: 10px 292px;
}
.contact-header {
  display: flex;
  justify-content: center;
  gap: 200px;
}
/* **********************8 */
.footer-head {
  margin-top: 70px;
}
.footer-head h3 {
  background-color: red;
  text-align: center;
  color: rgb(207, 204, 204);
  padding: 40px;
  font-size: 2.4rem;
}
.footer-header {
  text-align: center;
  line-height: 2;
  padding: 40px;
}
.footer-header h3 {
  font-size: 2.4rem;
}
.footer-logo {
  border: 1px solid grey;
  padding: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.footer-main {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px auto 15px auto;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close"] {
  display: none;
}
@media (max-width: 84rem) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    max-width: 120rem;
  }
}
@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
  .hero {
    gap: 4.8rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .name {
    border-bottom: 2 px solid red;
  }
}
@media (max-width: 1024px) {
  .header-div {
    margin-left: 128px;
    margin-top: 80px;
  }
  .flex {
    padding: 0px 28px;
  }
  .quality-head h2 {
    margin-left: 17px;
  }
  .quality-head p {
    margin-left: 17px;
  }
  .quality-btn {
    margin-left: 150px;
  }
  .grid-one {
    margin-left: 110px;
  }
  .king-head {
    margin-left: 175px;
  }
  .services-one {
    margin-left: 286px;
  }
  .image-grid {
    margin-left: 140px;
  }

  .feature-head {
    margin-left: 181px;
  }
  .web-design {
    margin-left: 178px;
  }
  .price-head::after {
    left: 25px;
  }
  .thinks {
    gap: 101px;
  }
  .logos {
    gap: 1px;
  }
  .contact-header {
    display: flex;
    justify-content: space-between;
    gap: 1px;
  }
  .section-head:after {
    left: 45%;
  }
  .merry {
    width: 150px;
    height: 150px;
  }
}
/* mobile */
@media (max-width: 767px) {
  .flex {
    flex-direction: column;
  }
  .quality {
    grid-template-columns: 1fr;
  }
  .grid-one {
    grid-template-columns: 1fr;
  }
  .user {
    flex-direction: column;
  }
  .web-design {
    flex-direction: column;
  }
  .image-grid {
    grid-template-columns: 1fr;
  }
  .price-header {
    flex-direction: column;
    gap: 90px;
  }
  .price-head::after {
    left: 40%;
  }
  .price-head {
    width: 90%;
  }
  .team-head {
    width: 90%;
  }
  .thinks {
    flex-direction: column;
  }
  .blog-header {
    flex-direction: column;
  }
  .blog-head {
    width: 90%;
    margin-left: 70px;
  }
  .logos {
    flex-direction: column;
  }
  .contact-header {
    flex-direction: column;
  }
  .footer-main {
    flex-direction: column;
  }
  .cta-form {
    grid-template-columns: 300px;
  }
  .services-one {
    margin-left: 100px;
  }
  .feature-head {
    margin-left: 10px;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open .header-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translatex(0);
  }
  .header-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    /* work on safari
    -webkit-backdrop-filter: blur(10px); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translatex(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide the navigation */
    /* Allows no transitions at all */
    /* display: none; we cannot animation*/

    /* Hide it visually */
    opacity: 0;

    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide it form screen readers */
    visibility: hidden;
  }
}
